h1 {
  color: red;
}

.profile-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
}

.profile-btn:hover {
  background-color: #555;
  cursor: pointer;
}

body {
  background: #fff;
    color: #333;
}

body.dark {
  background: #111;
  color #eee;
}
